.vscode/**
.vscode-test/**
src/**
cli/**
scripts/**
docs/**
.git/**
.gitignore
.opencode/**
.superpowers/**
.work/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!node_modules/**
node_modules/**
*.vsix
AGENTS.md
